.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Navigation {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #282c34;
  font-size: large;
  color: white;
}

.Navigation {
color: white;
background-color: gray;
list-style: none;
text-align: center;
padding: 15px 0 15px 0;
}

.Navigation > li {
  display: inline-block;
  margin-left: 70px;
  
}

.Navigation > li a {
  text-decoration: none;
  color: blue;
  text-align: center;
}

.Navigation > li > a:hover {
  color: #c1c1c1;
}

.Review {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: justify;
}

.Project-Title {
  font-size: 20px;
  color: blue;
  text-align: center;
  padding: 20px 0 20px 0;
  text-underline-position: below;
  background-color: darkgray;
}

.Project-Title > li{
  display: inline-block;
  text-align: center;
  
}

h4 {
  text-align: center;
}

.wrapper {
  margin: 0;
width: 100%
}


.videowrapper{
position: relative;
padding-bottom: 56.25%;
padding-top: 25px;
height: 0px;
}

.videowrapper iframe {
position: absolute;
left:0px;
top: 0px;
right: 0px;
bottom: 0px;
width: 100%;
height: 100%;
}

img {
  width: 100%;
  height:100%;
  display: block;
  overflow: hidden;
}

.AboutMe {
  display: inline-block;
  text-align: center;
}

.jamie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.xyzlondon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media(max-width: 700px){
  .Review {
    font-family: 'Times New Roman', Times, serif;
    font-size: auto;
    text-align: justify;
  }

  .xyzlondon {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
}

form {
  width:300px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

textarea {
resize: horizontal;
max-height: 100px;
}

input, textarea {
  outline: none;
  border: 1px solid black;
}

input:focus, textarea:focus {
  box-shadow: 0 0 4px blue;
  border: 1px solid red;
}

::placeholder {
  color: blue;
  opacity: 1;
}

:-ms-input-placeholder {
  color: blue;
}

::-ms-input-placeholder {
  color: blue;
}


.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
